body {
  padding: 0;
  margin: 0; }

.heart-chap {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  padding: 0;
  background-color: #333;
  position: relative; }
  .heart-chap:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(img/heart.png) 0 0 no-repeat;
    background-size: auto 100%; }
  .heart-chap:hover:after {
    -webkit-animation: heart-ani 1s steps(28, start) forwards;
    animation: heart-ani 1s steps(28, start) forwards; }

@-webkit-keyframes heart-ani {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -2240px 0; } }

@keyframes heart-ani {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -2240px 0; } }

.hover-kaki-ul {
  margin: 40px auto;
  padding: 0;
  max-width: 800px;
  list-style: none;
  overflow: hidden;
  background-color: #B7AA92; }
  .hover-kaki-ul li {
    width: 16.66%;
    float: left;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #fff;
    position: relative; }
    .hover-kaki-ul li:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
    .hover-kaki-ul li a {
      display: block;
      text-align: center;
      padding: 40px 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #000;
      font-size: 16px;
      text-decoration: none;
      position: relative;
      z-index: 3; }
  .hover-kaki-ul .about:after {
    width: 76px;
    height: 58px; }
  .hover-kaki-ul .about:not(.current):hover:after {
    background: url(img/nav_about_ani.png) no-repeat 0 0;
    -webkit-animation: about-ani 0.4s steps(9, start) forwards;
    animation: about-ani 0.4s steps(9, start) forwards; }

@-webkit-keyframes about-ani {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -684px 0; } }

@keyframes about-ani {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -684px 0; } }
  .hover-kaki-ul .menu:after {
    width: 57px;
    height: 50px; }
  .hover-kaki-ul .menu:not(.current):hover:after {
    background: url(img/nav_plan_ani.png) no-repeat 0 0;
    -webkit-animation: plan-ani 0.6s steps(14, start) forwards;
    animation: plan-ani 0.6s steps(14, start) forwards; }

@-webkit-keyframes plan-ani {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -798px 0; } }

@keyframes plan-ani {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -798px 0; } }
  .hover-kaki-ul .price:after {
    width: 75px;
    height: 42px; }
  .hover-kaki-ul .price:not(.current):hover:after {
    background: url(img/nav_price_ani.png) no-repeat 0 0;
    -webkit-animation: price-ani 0.2s steps(4, start) forwards;
    animation: price-ani 0.2s steps(4, start) forwards; }

@-webkit-keyframes price-ani {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -300px 0; } }

@keyframes price-ani {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -300px 0; } }
  .hover-kaki-ul .flow:after {
    width: 59px;
    height: 41px; }
  .hover-kaki-ul .flow:not(.current):hover:after {
    background: url(img/nav_flow_ani.png) no-repeat 0 0;
    -webkit-animation: flow-ani 0.5s steps(14, start) forwards;
    animation: flow-ani 0.5s steps(14, start) forwards; }

@-webkit-keyframes flow-ani {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -826px 0; } }

@keyframes flow-ani {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -826px 0; } }
  .hover-kaki-ul .staff:after {
    width: 58px;
    height: 50px; }
  .hover-kaki-ul .staff:not(.current):hover:after {
    background: url(img/nav_staff_ani.png) no-repeat 0 0;
    -webkit-animation: staff-ani 0.3s steps(7, start) forwards;
    animation: staff-ani 0.3s steps(7, start) forwards; }

@-webkit-keyframes staff-ani {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -406px 0; } }

@keyframes staff-ani {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -406px 0; } }
  .hover-kaki-ul .faq:after {
    width: 73px;
    height: 41px; }
  .hover-kaki-ul .faq:not(.current):hover:after {
    background: url(img/nav_faq_ani.png) no-repeat 0 0;
    -webkit-animation: faq-ani 0.5s steps(14, start) forwards;
    animation: faq-ani 0.5s steps(14, start) forwards; }

@-webkit-keyframes faq-ani {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -1022px 0; } }

@keyframes faq-ani {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -1022px 0; } }
